/* 定义链接的字体图标样式 */
.link-font-awesome {
  background: rgb(78, 146, 224);
  background: linear-gradient(
    90deg,
    rgb(240, 201, 201) 0%,
    rgb(235, 144, 116) 50%,
    rgb(244, 100, 33) 100%
  );
}

.flex-grow {
  flex-grow: 1
  ;
}

.link-blog {
  background: rgb(68, 187, 230);
  background: linear-gradient(
    90deg,
    rgb(131, 126, 126) 0%,
    rgb(5, 90, 114) 50%,
    rgb(129, 55, 6) 100%
  );
}

.link-123pan {
  background: rgb(255, 149, 79);
  background: linear-gradient(
    90deg,     
    rgb(87, 86, 86) 0%,
    rgb(22, 72, 130) 50%,
    rgb(93, 46, 15) 100%
  );
}

.link-ycsj {
  background: rgb(255, 149, 79);
  background: linear-gradient(
    90deg,     
    rgb(184, 196, 14) 0%,
    rgb(58, 182, 186) 50%,
    rgb(238, 157, 157) 100%
  );
}

.link-project {
  background: rgb(255, 149, 79);
  background: linear-gradient(
    90deg,     
    rgb(181, 201, 91) 0%,
    rgb(4, 187, 228) 50%,
    rgb(240, 140, 162) 100%
  );
}

.link-contact {
  background: rgb(255, 149, 79);
  background: linear-gradient(
    90deg,     
    rgb(112, 148, 196) 0%,
    rgb(2, 101, 223) 50%,
    rgb(14, 62, 157) 100%
  );
}

.link-media {
  background: rgb(255, 149, 79);
  background: linear-gradient(
    90deg,     
    rgb(95, 134, 201) 0%,
    rgb(28, 72, 181) 50%,
    rgb(2, 34, 95) 100%
  );
}

.link-about {
  background: rgb(255, 149, 79);
  background: linear-gradient(
    90deg,     
    rgb(86, 125, 192) 0%,
    rgb(20, 72, 169) 50%,
    rgb(9, 34, 102) 100%
  );
}

.link-join {  
  background: rgb(255, 149, 79);
  background: linear-gradient(
    90deg,     
    rgb(77, 133, 231) 0%,
    rgb(16, 64, 134) 50%,
    rgb(2, 17, 59) 100%
  );
}